body {
  margin: 0;
  padding: 1%;
  font-family: 'Work-Sans' , sans-serif;
  font-weight:300;
  background-color: rgb(149, 172, 149);

}

h4 {
  font-family: 'Work-Sans' , sans-serif;
  color: rgb(77, 94, 77);

}

h1 {
  text-align: center;
  color: rgb(40, 61, 40);
}



.form {
position: absolute;
top: 50%;
margin-top: -15%;
width: 90%;
height: 22%;
padding: 1%;
font-family: 'Work-Sans' , sans-serif;
display: inline-block;
}

.form .label {
  font-family: 'Work-Sans' , sans-serif;
  display: inline-block;
  width: 15%;
  text-align: left;
  color: rgb(40, 61, 40);
}

.form .text {
  font-family: 'Work-Sans' , sans-serif;
  display: inline-block;
  width: 50%;
  text-align: left;
  border: transparent;
  color: rgb(40, 61, 40);
}


.btn {
  box-shadow: 0px 5px 7px -3px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 12px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  position: absolute;
}
.pageDiv {
  position: absolute;
top: 70%;
left: 5%;
width: 100%;
font-family: 'Work-Sans' , sans-serif;
display: inline-block;
}

.container {
    position: relative;
    /*text-align: center;
    color: white;*/
    max-width: 33%;
    float:left;
    padding: 1%;
  }

  .container img {
    display:block;
    max-width: 100%; 
    border-radius: 50px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 500px;
}
  
  /* Bottom left text */
  .container .bottom-left {
   
    text-align: center; 
    width:90%; 
    font-size: 25px; 
    color:white;
    position:absolute; 
    word-wrap: break-word;
    bottom:20%;    
    padding: 5%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
  }
  
  /* Top left text */
  .container .top-left {

    text-align: center; 
    width:90%; 
    font-size: 25px; 
    color:white;
    position:absolute; 
    padding: 5%;
    top:10%;
    word-wrap: break-word;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
    
  }



  .delete {
    position:absolute; 
    display: none;
    opacity:0;
    top:5%;    
    left:80%;
  }

  .container .delete:hover{

    display:block;
    opacity: 1;
  }
 
  
 
  .container:hover img {
    opacity: 0.5;
    }

     
  

